/*
************************
    ### PARAMETERS ###
************************
*/
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/*
************************
    ### GENERAL ###
************************
*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #edf7f9;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/*
************************
    ### HEADER ###
************************
*/
header {
  background-color: #E3E8EC;
  /*
  ************************
  ### DESKTOP MENU ###
  ************************
  */
}
header .container {
  display: flex;
  height: 120px;
  align-items: center;
}
header .logo {
  width: 20%;
}
header .logo img {
  float: right;
  margin-right: 30px;
  width: 60px;
}
header .company-name {
  width: 30%;
  font-size: 30px;
  font-weight: bold;
}
header .desktop-menu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .navbar a {
  padding: 0px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(79, 79, 79);
  text-align: center;
}
header .navbar .about:hover {
  background-color: #14243D;
  border-radius: 3px;
  color: #edf7f9;
}
header .navbar .contact-session:hover {
  background-color: #14243D;
  border-radius: 3px;
  color: #edf7f9;
}
header .navbar .other-services:hover {
  border-radius: 3px;
  color: #edf7f9;
}
header .other-services {
  float: left;
  overflow: hidden;
}
header .other-services .ots-button {
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(79, 79, 79);
  padding: 0px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
header .other-services .ots-button:hover {
  color: #edf7f9;
  background-color: #14243D;
}
header .ots-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 197px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .ots-content a {
  float: none;
  color: rgb(79, 79, 79);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
header .ots-content a:hover {
  background-color: #ddd;
}
header .show {
  display: block;
}

/*
************************
    ### CONTENT ###
************************
*/
.img-division-top-about {
  height: 100%;
}
.img-division-top-about .container {
  height: 100%;
}
.img-division-top-about img {
  width: 100%;
  display: block;
}

.about-us {
  color: #1A4573;
  background-color: #c4e5f8;
}
.about-us h1 {
  padding: 50px 0px;
  font-size: 50px;
  text-align: center;
  font-family: "kanit", cursive;
  text-transform: uppercase;
}
.about-us p {
  font-size: 30px;
  padding: 0px 60px 50px 60px;
  text-align: center;
}
.about-us #gandalf {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 80px;
  text-align: center;
}

/*
************************
     ### FOOTER ###
************************
*/
.footer-content .container > div {
  display: flex;
  justify-content: space-around;
}

#footer-block-wrap {
  background-color: #E3E8EC;
}
#footer-block-wrap div h3 {
  text-align: center;
  color: #4695DA;
  padding: 40px 20px 0px 20px;
}
#footer-block-wrap div p {
  text-align: center;
  padding: 20px 20px;
}
#footer-block-wrap div a {
  text-decoration: none;
  color: black;
}

.footer-rights .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(128, 127, 127);
  padding: 40px 0px;
  background-color: #E3E8EC;
}

.footer-social-links {
  display: inline;
}
.footer-social-links a img {
  width: 40px;
  align-items: center;
  margin: 0 20px 10px 20px;
}

/*
************************
  ### MEDIA QUERIES ###
************************
*/
@media screen and (max-width: 920px) {
  #mission-block-wrap {
    flex-direction: column-reverse;
    height: 100%;
  }
  #mission-block-wrap div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .mission-image img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 778px) {
  #mission-block-wrap {
    height: 100%;
  }
}
@media screen and (max-width: 630px) {
  .mission-image img {
    margin-top: 40px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column;
    height: 100%;
  }
  header .container .logo {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  header .container .logo img {
    float: none;
    margin-right: 0px;
    width: 80px;
  }
  header .container .company-name {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  header .container .navbar {
    flex-direction: column;
    padding: 10px 0px;
  }
  header .container .navbar a {
    padding: 15px 0px;
  }
  header .container .navbar .about {
    padding: 15px 65px;
  }
  header .container .navbar .contact-session {
    padding: 15px 50px;
  }
  header .container .navbar .other-services {
    padding: 15px 0px;
  }
  .footer-content {
    height: 700px;
    margin-bottom: 20px;
  }
  .footer-content .container div {
    flex-direction: column;
  }
  .footer-content .container #footer-block-wrap div h3 {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style-about.css.map */