$bgColor0: #edf7f9;
$bgColor1: #c4e5f8;
$bgColor2: #386399;
$bgColor3: #E3E8EC;
$bgColor4: #14243D;

$txtColor0: white;
$txtColor1: #4695DA;
$txtColor2: #1A4573;

$btnColor0: white;
$btnColor1: #5553FF;
$btnColor2: #2320CC;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$font-title: 'kanit', cursive;
$font-title-color: $txtColor2;
$font-title-size: 2em;
$font-title-weight: bold;
$font-title-padding: 40px;
$font-title-margin: 1px;

$font-subTitle: Arial, Verdana, Helvetica, sans-serif;
$font-subTitle-color: $txtColor1;
$font-subTitle-size: 1.5em;
$font-subTitle-weight: 100;
$font-subTitle-padding-top: 20px;
$font-subTitle-padding-bottom: 10px;
$font-subTitle-margin: 0px;

$font-standard: Arial, Verdana, Helvetica, sans-serif;
$font-standard-color: $txtColor1;
$font-standard-size: 1.2em;
$font-standard-weight: 100;
$font-standard-padding-top: 20px;
$font-standard-padding-bottom: 10px;
$font-standard-margin: 0px;