/*
************************
    ### PARAMETERS ###
************************
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
    font-family:'Snow' ;
    src: url(../fonts/Timeless.ttf) format('opentype');
}

:root {
    --color0: #edf7f9;
    --color1: #c4e5f8;
    --color2: #d5dee7;
    --color3: #E3E8EC;
    --color4: #244170;
    --color5: #447BD4;
    --color6: #355588;
    --color7: #7590BD;
    --color8: #14243D;
    --color9: #36c736;
    --color10:#ff0000;
    --color11:#3E445B;
    --color12:#807f7f;
    --color13:#000000;

    --font-standard: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Kanit', cursive;
    --font-snow: 'Snow', cursive;
}


/*
************************
    ### GENERAL ###
************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
    scroll-behavior: smooth; 
}

body{
    background-color: var(--color0);
    font-family: var(--font-standard);
}

.container{
    max-width: 1280px;
    margin: auto;
}


h1{
    font-family: var(--font-emphasis);
    color: var(--color4);
    padding: 0px 10px;
    text-transform: uppercase;
}

h2{
    font-family: var(--font-snow);
    color: var(--color4);
    text-transform: uppercase;
}

h3{
    font-family: var(--font-standard);
    color: var(--color4);
    text-transform: uppercase;
}

/*
************************
    ### HEADER ###
************************
*/

header{
    background-color: var(--color3);
}

header .container{
    display: flex;
    height: 120px;
    align-items: center;
}

.logo{
    width: 20%;
}

.logo img{
    float: right;
    margin-right: 30px;
    width: 60px;
}

.company-name{
    width: 30%;
    font-size: 30px;
    font-weight: bold;
}

/*
************************
  ### DESKTOP MENU ###
************************
*/
.navbar {
    overflow: hidden;
    display:flex;
    flex-direction: row;
    align-items: center;
}
  
.navbar a {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--color8);
    text-align: center;
    
}

.about:hover{
    background-color: var(--color8);
    border-radius: 3px;
    color: var(--color0);
}

.contact-session:hover{
    background-color: var(--color8);
    color: var(--color0);
    border-radius: 3px;
 }
  
.other-services {
    float: left;
    overflow: hidden;
}

.other-services:hover{
    border-radius: 3px;
    color: var(--color0);
}

.other-services .ots-button:hover{
    color: var(--color0);
    background-color: var(--color8);
}
  
.other-services .ots-button {

    font-weight: bold;
    font-size: 20px;  
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color8);
    padding: 0px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.ots-content {
    display: none;
    position: absolute;
    background-color: var(--color0);
    min-width: 197px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.ots-content a {
    float: none;
    color: var(--color8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.ots-content a:hover {
    background-color: var(--color2);
}
  
.show {
    display: block;
}

.desktop-menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
************************
    ### CONTENT ###
************************
*/

h1{
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.content-quote .container{
    height: 300px;
    background-color:var(--color1);
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.get-quote{
    display: flex;
    align-items: center;
}

.get-quote input{
    background-color: var(--color6);
    padding: 15px 30px;
    border: none;
    font-size: 30px;
    color: var(--color0);
    border-radius: 5px;
    cursor: pointer;
}

.get-quote input:hover{
    background-color: var(--color8);
}

.quote-block-wrap{
    display: flex;
    flex-direction: column;
}

.quote-block-wrap input{
    align-items: center;
}

.img-division-top > .container{
    height:100%;
}

.img-division-top img{
    width: 100%;  
    display: block; 
}

#mission-block-wrap{
    display: flex;
    flex-direction: row;
    height: 600px;
    background-color: var(--color1);
}

#mission-block-wrap div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mission-image{
    margin-left: auto;
    margin-right: auto;
}

.mission-image img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
}

.content-mission > .container > div > img{
    
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.content-mission > .container > div{
    justify-content: center;
    min-width: 300px;
    text-align: center;
}

.mission-vision > p{
    font-size: 30px;
    padding: 20px 60px;   
}

.mission-vision{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-services{
    display: flex;
}

.content-services .container{
    background-color: var(--color3);
    width: 100%;
}

.content-services > .container h1{
    text-align: center;
    font-size: 50px;
}

.content-services h1{
    text-align: center;
    margin: 20px 0 40px 0;
}

#services-block-wrap{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

#services-block-wrap div{
    max-width: 1000px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: var(--color0);
    background-color: var(--color0);
}

#services-block-wrap div h2{
    background-color: var(--color1);
    color: var(--color4);
    border: solid 3px var(--color4);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#services-block-wrap div p{
    text-align: justify;
    padding: 30px;
}

#services-block-wrap > div > div {
    text-align: right;
}

#services-block-wrap div input{
    background-color: var(--color6);
    color: var(--color0);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-right: 30px;
    width: 80px;
    height: 40px;
    font-size: 1em;
}

#services-block-wrap div input:hover{
    background-color: var(--color8);
    cursor: pointer;
}

#services-block-wrap .service-img{
    width: 50%;
    min-width: 300px;
    border-radius: 50%;
    padding: 20px;
    display: block;
    margin: auto;

}

#services-block-wrap .plan-wrap{
    display: none;
    justify-content: space-between;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>*/

#services-block-wrap .plan-wrap div{
    background-color: var(--color1);
    box-shadow: 0px 0px 10px var(--color13);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 220px;
}

#services-block-wrap .plan-wrap div > h3{
    padding: 20px;
    color: var(--color13);
}

#services-block-wrap .plan-wrap div h4 > span{
    font-size: 2.5em;
    color: var(--color5);
}

#services-block-wrap .plan-wrap div > div{
    border-top: solid 2px var(--color8);
    box-shadow: none;
    margin-top: 20px;
    width: 80%;
}

#services-block-wrap .plan-wrap div p{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}

#services-block-wrap .plan-wrap div p img{
    width: 30px;
}

#services-block-wrap .plan-wrap div > input{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

/*
************************
  ### CONTACT MENU ###
************************
*/

#content-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-contact .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color1);
}

#content-contact .container h1{
    text-align: center;
    margin: 20px 0 40px 0;
}

.form{
    width: 90%;
    max-width: 1000px;
    margin: 0 20px;
}

.form input, textarea{
    resize: vertical;
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
  }

.form label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form button {
    background-color: var(--color6);
    padding: 15px 30px;
    border: none;
    font-size: 30px;
    color: var(--color0);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 300px;
}

.form button:hover {
    background-color: var(--color8);
    transition: 0.3s;
}

.wrap-button-form{
    display: flex;
    justify-content: center;
}

.form-control.success input {
    border: 3px solid var(--color9);
}

.form-control.success textarea {
    border: 3px solid var(--color9);
}

.form-control.error input {
    border: 3px solid var(--color10);
}

.form-control.error textarea {
    border: 3px solid var(--color10);
}

.form-control.clear input {
    border: 3px solid var(--color11);
}

.form-control.clear textarea {
    border: 3px solid var(--color11);
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: var(--color10);
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

/*
************************
  ### CONTENT CHOOSE MENU ###
************************
*/

.content-choose-text{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color5);
    font-size: 32px;
    background-color: var(--color3);
}

.content-choose-text p{
    color: var(--color7);
    font-size: 32px;
    text-align: center;
    padding: 16px;
}

.content-choose > .content-choose-text > h1 {
    text-align: center;
    margin: 20px 0 40px 0;
}

.content-choose .container{
    background-color: var(--color3);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-choose{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    background-color: var(--color0);
    margin: 10px 10px 40px 10px;
    padding: 15px;
    width: 280px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 7px 7px 13px 0px rgb(50 50 50 / 22%);
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: var(--color7);
    font-size: 16px;
    text-align: center;
}

.img-bottom{
    width: 100%;
    margin-bottom: 0px;
    display:block;
}

/*
************************
  ### LOCATION MENU ###
************************
*/

.location-map {
    margin: 0 0 0 0;

}

.location-map .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color1);
    width: 100%;
    align-items: center;
}

.location-map > .container > h1 {
    text-align: center;
    margin: 20px 0 40px 0;
}

.location-map > .container > iframe {
    margin-bottom: 30px;
}

/*
************************
     ### FOOTER ###
************************
*/

.footer-content > .container > div {
    display: flex;
    justify-content: space-around;
}

#footer-block-wrap {
    background-color: var(--color3);
}

#footer-block-wrap > div > h3 {
    text-align: center;
    color: var(--color5);
    padding: 40px 20px 0px 20px;
}

#footer-block-wrap > div > p {
    text-align: center;
    padding: 20px 20px;
}

#footer-block-wrap > div > p:last-child {
    text-align: center;
}

#footer-block-wrap > div > p > a {
    text-decoration: none;
    color: var(--color13);
}

.footer-rights > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--color12);
    padding: 40px;
    background-color: var(--color3);
}

.footer-social-links {
    display: inline;
}

.footer-social-links > a > img {
    width: 40px;
    align-items: center;
    margin: 0 20px 10px 20px;
}

/*
************************
  ### MEDIA QUERIES ###
************************
*/

@media screen and (max-width: 920px){

    #mission-block-wrap{
        flex-direction: column-reverse;
        height: 100%;
    }

    #mission-block-wrap div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .mission-image img{
        margin-top: 40px;
    }

}

@media screen and (max-width: 778px)
{


    #mission-block-wrap{
        height: 100%;
    }
   
}


@media screen and (max-width: 630px)
{
    .mission-image img{
        margin-top: 40px;
        width: 80%;
    }

    

}

@media screen and (max-width: 768px){
    header > .container
    {
        flex-direction: column;
        height: 100%;
    }

    .container > .logo > img 
    {
        float:none;
        margin-right: 0px;
        width: 80px;
    }

    .logo{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .company-name{
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
        padding: 10px 0px;
      }
    
      .navbar a {
        padding: 15px 0px;
      }

      .navbar .about{
        padding: 15px 65px;
      }

      .navbar .contact-session{
        padding: 15px 50px;
      }

      .other-services
      {
         padding: 15px 0px;
      }

    #services-block-wrap .plan-wrap{
        flex-direction: column;
        justify-content: center;
    }

    #services-block-wrap .plan-wrap div{
        width: 60%;
        margin: 20px auto;
    }

    #services-block-wrap > div > div {
        text-align: center;
    }

    #services-block-wrap div input{
        width: 30%;
        margin: auto;
    }
        
    .location-map iframe{
       width: 350px;
    }
    .footer-content {
        height: 700px;
        margin-bottom: 20px;
    }

    .footer-content > .container > div {
        flex-direction: column;
    }

    #footer-block-wrap > div > h3 {
        margin-top: 20px;
    }
}