/*
************************
    ### PARAMETERS ###
************************
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
    font-family:'Snow' ;
    src: url(../fonts/home-christmas.otf) format('opentype');
}

:root {
    --color0: #E3E8ED;
    --color1: #D5E7F7;
    --color2: #93A3B2;
    --color3: #788896;
    --color4: #3DB7AB;
    --color5: #4695DA;
    --color6: #6558F5;
    --color7: #CED8E0;
    --color8: #3f2ef9;

    --font-standard: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Courgette', cursive;
    --font-snow: 'Snow', cursive;
}


/*
************************
    ### GENERAL ###
************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: var(--color0);
    font-family: var(--font-standard);
}

.container{
    max-width: 1280px;
    margin: auto;
}

/* ######### delete ######### */
h1{
    font-family: var(--font-emphasis);
    color: var(--color5);
}

h2{
    font-family: var(--font-snow);
    color: var(--color6);
}

h3{
    font-family: var(--font-standard);
    color: var(--color4);
}
/* ######### delete ######### */

/*
************************
    ### HEADER ###
************************
*/



/*
************************
   ### MOBILE MENU ###
************************
*/
nav.mobile-menu{
    display: none;
}


/*
************************
  ### DESKTOP MENU ###
************************
*/



/*
************************
    ### CONTENT ###
************************
*/
.content-services{
    display: flex;
    background-color: var(--color7);
    border-top: solid 2px var(--color3);
    border-bottom: solid 2px var(--color3);
}

.content-services h1{
    text-align: center;
    margin: 20px 0 40px 0;
}

#services-block-wrap{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#services-block-wrap div{
    background-color: white;
    max-width: 800px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#services-block-wrap div h2{
    background-color: var(--color1);
    color: var(--color3);
    border: solid 3px var(--color5);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#services-block-wrap div p{
    text-align: justify;
    padding: 10px;
}

#services-block-wrap > div > div {
    text-align: right;
}

#services-block-wrap div input{
    background-color: var(--color6);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    font-size: 1em;
}

#services-block-wrap div input:hover{
    background-color: var(--color8);
    cursor: pointer;
}

#services-block-wrap .plan-wrap{
    display: none;
    justify-content: space-around;
}


#services-block-wrap .plan-wrap div{
    background-color: var(--color1);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 200px;
}

#services-block-wrap .plan-wrap div > h3{
    padding: 20px;
    color: black;
}

#services-block-wrap .plan-wrap div h4 > span{
    font-size: 2.5em;
    color: #3DB7AB;
}

#services-block-wrap .plan-wrap div > div{
    border-top: solid 2px var(--color2);
    box-shadow: none;
    margin-top: 20px;
    width: 80%;
}

#services-block-wrap .plan-wrap div p{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}

#services-block-wrap .plan-wrap div p img{
    width: 30px;
}

#services-block-wrap .plan-wrap div > input{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}


.location-map {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    background-color: white;
}

.location-map > .container > h2 {
    text-align: center;
    padding: 30px;
    color: var(--color5);
}

.location-map > .container > iframe {
    margin-bottom: 30px;
}
/*
************************
     ### FOOTER ###
************************
*/

.footer-content {
    height: 400px;
    padding-top: 40px;
    border-top: 1px solid rgb(128, 127, 127);
}

.footer-content > .container > div {
    display: flex;
    justify-content: space-around;
}

#footer-block-wrap > div > h3 {
    text-align: center;
    color: var(--color5);
    padding: 20px;
}

#footer-block-wrap > div > p {
    text-align: center;
    padding: 15px;
}

#footer-block-wrap > div > p > a {
    text-decoration: none;
    color: black;
}

.footer-rights > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(128, 127, 127);
    padding: 40px;
}

.footer-social-links {
    display: inline;
}

.footer-social-links > a > img {
    width: 40px;
    align-items: center;
    margin: 0 20px 10px 20px;
}

/*
************************
  ### MEDIA QUERIES ###
************************
*/

@media screen and (max-width: 768px){

 #services-block-wrap .plan-wrap{
        flex-direction: column;
        justify-content: center;
    }

    #services-block-wrap .plan-wrap div{
        width: 60%;
        margin: 20px auto;
    }

    #services-block-wrap > div > div {
        text-align: center;
    }

    #services-block-wrap div input{
        width: 30%;
        margin: auto;
        
    .location-map iframe{
       width: 350px;
    }
    .footer-content {
        height: 700px;
        margin-bottom: 20px;
    }

    .footer-content > .container > div {
        flex-direction: column;
    }

    #footer-block-wrap > div > h3 {
        margin-top: 20px;
    }
}