/*
************************
    ### PARAMETERS ###
************************
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
    font-family:'Snow' ;
    src: url(../fonts/home-christmas.otf) format('opentype');
}

:root {
    --color0: #E3E8ED;
    --color1: #D5E7F7;
    --color2: #93A3B2;
    --color3: #788896;
    --color4: #3DB7AB;
    --color5: #4695DA;
    --color6: #6558F5;

    --font-standard: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Courgette', cursive;
    --font-snow: 'Snow', cursive;
}


/*
************************
    ### GENERAL ###
************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: var(--color0);
    font-family: var(--font-standard);
}

/* ######### delete ######### */
h1{
    font-family: var(--font-emphasis);
    color: var(--color5);
}

h2{
    font-family: var(--font-snow);
    color: var(--color6);
}

h3{
    font-family: var(--font-standard);
    color: var(--color4);
}
/* ######### delete ######### */

/*
************************
    ### HEADER ###
************************
*/



/*
************************
   ### MOBILE MENU ###
************************
*/
nav.mobile-menu{
    display: none;
}


/*
************************
  ### DESKTOP MENU ###
************************
*/



/*
************************
    ### CONTENT ###
************************
*/


.location-map {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    background-color: white;
}

.location-map > .container > h2 {
    text-align: center;
    padding: 30px;
    color: var(--color5);
}

.location-map > .container > iframe {
    margin-bottom: 30px;
}
/*
************************
     ### FOOTER ###
************************
*/

.footer-content {
    height: 400px;
    padding-top: 40px;
    border-top: 2px solid rgb(128, 127, 127);
}

.footer-content > .container > div {
    display: flex;
    justify-content: space-around;
}

#footer-block-wrap > div > h3 {
    text-align: center;
    color: var(--color5);
    padding: 20px;
}

#footer-block-wrap > div > p {
    text-align: center;
    padding: 15px;
}

#footer-block-wrap > div > p > a {
    text-decoration: none;
    color: black;
}

.footer-rights > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(128, 127, 127);
    padding: 40px;
}

.footer-social-links {
    display: inline;
}

.footer-social-links > a > img {
    width: 40px;
    align-items: center;
    margin: 0 20px 10px 20px;
}

/*
************************
  ### MEDIA QUERIES ###
************************
*/

@media screen and (max-width: 768px){

}